﻿@{ ViewBag.Title = "OrderDisplay"; }

@Html.Partial("_Header")
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="banner-content">
                    <h1 class="title">Your Order Confirmed Successfully</h1>


                </div>
            </div>

        </div>
    </div>
</section>
<section class="search-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                

                <h4>Your Order Details</h4>
                <p>
                    Order Id:<b>@ViewBag.OrderId</b> <br />
                    Order Date:<b>@ViewBag.OrderDate</b><br />
                    Payment Mode:<b>@ViewBag.PaymentMode</b><br />
                    Delivery Address:<b>@ViewBag.DeliveryAddress</b><br />
                    Total Price:<b>$@ViewBag.GrandTotal</b>
                </p>
                <table>
                    <tr>
                        <th>Medicine Name&nbsp;&nbsp;&nbsp;</th>
                        <th>Medicine Price&nbsp;&nbsp;&nbsp;</th>
                        <th>Medicine Quantity&nbsp;&nbsp;&nbsp;</th>
                        <th> SubTotal</th>
                    </tr>

                    @{foreach (var x in ViewBag.Items)
                        {
            <tr>
                <td>@x.MedicineName&nbsp;&nbsp;&nbsp;</td>
                <td>$@x.Price&nbsp;&nbsp;&nbsp;</td>
                <td>@x.Quantity&nbsp;&nbsp;&nbsp;</td>
                <td>$@x.Total</td>
            </tr>
 } }

                </table>
                <div>
                    @Html.ActionLink("Back to Shopping", "SearchMedicine")| @Html.ActionLink("LogOut", "Logout", "Account")
                </div>
                </div>
            </div>
        </div>
    </section>
                @Html.Partial("_Footer")
