﻿@model IEnumerable<MedicineMonitoring.Models.Medicine>



@{
    ViewBag.Title = "MedList";
}

<h2>Medicine List</h2>

<p>
    @Html.ActionLink("Add New Medicine ", "AddMedicine")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Medicine Id")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedName)
            </td>

            <td>
                @Html.ActionLink("Edit Record", "Edit", new { id = item.MedId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MedId })
            </td>
        </tr>
    }
    </table>
