﻿@model IEnumerable<MedicineMonitoring.Models.Medicine>

@{
    ViewBag.Title = "ViewEachBranchStock";
}

<h2>Each Branch Stocks</h2>


<table class="table">
    <tr>
       
       
        <th>
            @Html.DisplayName("Medicine Type")
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.ActionLink(item.Disease, "ViewEachBranchMedicine", new { id = item.MedId })
        </td>
        
       
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to Brach Stocks", "BranchStock")
</div>