﻿@model IEnumerable<MedicineMonitoring.Models.Medicine>

@{
    ViewBag.Title = "ViewEachBranchMedicine";
}

<h2>Each Branch Medicine Stocks</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.ManufactureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
       
       
        <td>
            @Html.DisplayFor(modelItem => item.ManufactureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
       
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to Brach Stocks", "BranchStock")
</div>