﻿@model MedicineMonitoring.Models.User
@{ ViewBag.Title = "Home Page"; }

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

</head>
<body>



    @Html.Partial("_Header")

    <!-- banner-section start  -->
    <section class="banner-section bg_img" data-background="~/assets/images/banner.jpg" >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="banner-content">
                        <h1 class="title">Find alll your Medicines here.....</h1>
                        <p>Ganesh Ankit Parth Supraja</p>

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="banner-img">
                        <img src="~/assets/images/elements/pharmacy.jfif" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end  -->


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <!-- search-section start -->
        <section class="search-section pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="car-search-area">
                            <center>
                                <h3 class="title">Select Roles</h3>
                                <form class="car-search-form">
                                    <div style="align-content:center">


                                        <div class="row">
                                            <div class="form-group col-md-10">
                                                @Html.LabelFor(model => model.Usercategory, new { @class = "control-label col-md-6" })


                                                <div class="col-md-3">
                                                    @Html.EnumDropDownListFor(model => model.Usercategory, "Select Roles", new { htmlAttributes = new { @class = "form-control" } })

                                                    @Html.ValidationMessageFor(model => model.Usercategory, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                       <div class=" form-group col-md-8">
                                        <button type="submit" class="cmn-btn">Submit</button>
                                    </div>

                                    </div>
                                </form>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- search-section end -->

    }

    @Html.Partial("_Footer")

</body>

</html>




