﻿@model MedicineMonitoring.ViewModels.Login

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<@Html.Partial("_Header")
                          <!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="banner-content">
                    <h1 class="title">Everyone can Login from here..</h1>


                </div>
            </div>

        </div>
    </div>
</section>
<!-- banner-section end  -->


                          @using (Html.BeginForm())
                          { @Html.AntiForgeryToken()



   
                                  <section class="search-section pt-120 pb-120">
                                      <div class="container">
                                          <div class="row">
                                              <div class="col-lg-12">
                                                  <div class="car-search-area">

                                                      <form class="car-search-form">

                                                          <div class="row">
                                                              <div class="col-lg-10 form-group">
                                                                  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                                  @Html.Label("User Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                                                  <div class="col-md-5">
                                                                      @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                                                                      @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                                                  </div>
                                                              </div>

                                                              <div class="form-group col-md-10">
                                                                  @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                                                  <div class="col-md-5">
                                                                      @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                                      @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                                  </div>
                                                              </div>

                                                              </div>
                                                              <div class="row">

                                                                  <button type="submit" class="cmn-btn">Submit</button>
                                                              </div>

                                                        </form>
                                                      <br><br>
                                                      <div class="form-group">
                                                          @Html.ActionLink("Forgot UserId?", "RecoveryUserId", "Account")| @Html.ActionLink("Forgot Password?", "PasswordReset", "Account")
                                                      </div>
                                                  </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </section>
                                                      
                                                         
                                                          }
                                                          @Html.Partial("_Footer")

