﻿@model MedicineMonitoring.ViewModels.PasswordReset

@{ ViewBag.Title = "PasswordReset"; }

@Html.Partial("_Header")
<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="banner-content">
                    <h1 class="title">Find alll your Medicines here.....</h1>
                    <p>Ganesh Ankit Parth Supraja</p>

                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->

@using (Html.BeginForm())
{
@Html.AntiForgeryToken() <!-- search-section start -->
                <section class="search-section pt-120 pb-120">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="car-search-area">


                                    <form class="car-search-form">
                                        <div class="row">
                                            <div class="col-lg-10 form-group">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                @Html.Label("User Name", htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-10">
                                                    @Html.LabelFor(model => model.SecretQuestions, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-5">
                                                        @Html.EnumDropDownListFor(model => model.SecretQuestions, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.SecretQuestions, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-10 form-group">
                                                    @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class=" form-group col-md-8">
                                                    <button type="submit" class="cmn-btn">Submit</button>
                                                </div>
                                            </div>

                                            <br>
                                            <div>
                                                @Html.ActionLink("Back to Login", "Login")
                                            </div>
</form>

                                </div>
                            </div>
                        </div>
                    </div>
                </section> <!-- search-section end -->}



@Html.Partial("_Footer")
